CLIENT_ID = 'your_auth0_client_id'
AUTH0_DOMAIN = 'your_auth0_domain'
AUTH0_CLIENT_SECRET= 'your_auth0_client_secret'
AUTH0_CALLBACK_URL = 'http://localhost:3000/auth/callback'

DB_NAME= 'interviewEdge'
DB_USERNAME='your_db_username'
DB_PASSWORD = 'your_db_password'
DB_HOST=127.0.0.1
DB_PORT=3306

CLOUDINARY_CLOUD_NAME='your_cloudinary_cloud_name'
CLOUDINARY_API_KEY='your_cloudinary_api_key'
CLOUDINARY_API_SECRET='your_cloudinary_api_secret'

# New environment variables for interview features
ASSEMBLY_AI_API_KEY='your_assembly_ai_api_key'
OPENAI_API_KEY='your_openai_api_key'
STRIPE_SECRET_KEY='your_stripe_secret_key'
STRIPE_WEBHOOK_SECRET='your_stripe_webhook_secret'
