CLIENT_ID = 'IF8BSruxBjlepkrjxQ6hLeCq5EQoBft9'
AUTH0_DOMAIN = 'dev-zeo4pk45kd8bncwi.uk.auth0.com'
AUTH0_CLIENT_SECRET= 'y0KDO-mdFSHkcknkkXeE6ROiQ-bqLPiok8UipHuzK3msYLwBokhmVbNbAfva0LoH'
AUTH0_CALLBACK_URL = 'http://localhost:3000/auth/callback'

DB_NAME= 'interviewEdge'
DB_USERNAME='root'
DB_PASSWORD = 'kolajoy111'
DB_HOST=127.0.0.1
DB_PORT=3306

CLOUDINARY_CLOUD_NAME=dt690b2ia
CLOUDINARY_API_KEY=971386669567844
CLOUDINARY_API_SECRET=94qAFO-gbQNQEuymtVWEh_fXVKY

# New environment variables for interview features
ASSEMBLY_AI_API_KEY='your_assembly_ai_api_key'
OPENAI_API_KEY='your_openai_api_key'
STRIPE_SECRET_KEY='your_stripe_secret_key'
STRIPE_WEBHOOK_SECRET='your_stripe_webhook_secret'
